# node_modules folder
node_modules

# .serverless folder 
.serverless
.vscode
# .dynamodb folder
.dynamodb

# Js package manager
jspm_packages

# environment files
*.env

# Editor folders
.idea

.DS_Store
.prettierrc

# Jest folders
coverage

# Lock files
package-lock.json
yarn.lock

# Webpack folders
.webpack
.webpackCache
**/.webpackCache/**